.contact__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    line-height: 1.8;
    /* margin-bottom: 10px; */
}

.contact__name {
    /* margin-right: 20px; */
}